.c-style-button{
    width:12rem;
    display: inline-block;
    background-color: $theme-color;
    border:none;
    height: 3rem;
    border-radius: 30px;
    color: $captions-color;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    outline: 0;
    transform: translateY(-4px);
    transition: transform 0.1s  ease;
    cursor: pointer;
}
.c-style-button:active{
    box-shadow: 0 0px 0px ;
    transform: translateY(0px);
}